* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html, body {
	background-color: #fff;
	color: #000;
	text-rendering: optimizeLegibility;
	font-size: 16px;
	font-family: 'Work Sans', 'Arial', sans-serif;
}

.row {
	max-width: 80.21875%;
	margin: auto;
}
/* ********* HEADER  *********** */
header {
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0, 0, 0, 0.8)), url(img/header-img-min.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative;
}

.header__box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.about__section {
	margin-top: -5%;
}

.sticky__nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 2px 2px #efefef;
}

.sticky__nav > img {
	margin-top: 0.3vh;
	margin-left: 0.01vw;
	height: 10vh;
	width: 10vw;
}

.sticky__nav > ul > li > a {
	color: #555;
}

 header > nav > img {
	height: 35vh;
	width: 25vw;
	float: left;
	margin: -7vh 0 0 -2vw;
}

 header > nav > ul > li > a {
	color: white;
	text-decoration: none;
}

header > nav > ul > li { 
	margin-top: 4vh;
	margin-right: 4vw;
	font-size: 2.5vh;
	text-transform: uppercase;
	float: right;
}  

header > nav > ul > li:hover {
	border-bottom: 0.5vh solid #ed07b7;
	transition:border-bottom 0.25s;
}

.header__box__text {
	margin-bottom: 20vh;
}

.button {
	text-decoration: none;
	margin: 4vh;
	padding: 2vh;
	background-color: #ed07b7;
	border-radius: 10rem;
	color: white;
}

.button:hover {
	background-color: rgb(221, 103, 121);
}

.header__box__text > h1 {
	font-size: 500%;
	color: white;
	font-weight: 400;
	margin-bottom: 1.8vh;
}

.header__box__text > h2 {
	font-size: 200%;
	color: white ;
	font-weight: 400;
}

/* ***********ABOUT US SECTION************ */

.row {
	margin-top: 25vh;
}

.about__section__left__box {
	text-align: left;
}

.about__section__right__box {
	text-align: right;
}

.about__section__left__box > h1{
	font-size: 7vh;
	color: black;
	margin-bottom: 6vh;
	font-weight: 500;
}

.col {
	margin-bottom: 7vh;
}

.about__section__left__box > a {
	text-decoration: none;
	border-radius: 3rem;
	padding: 1vh;
	color: black;
	border: 2.5px solid #ed07b7;
}
.about__section__left__box > a:hover {
	text-decoration: none;
	border-radius: 3rem;
	padding: 1vh;
	color: white;
	background-color: #ed07b7;
}

.about__section__left__box > p {
	text-align: justify;
	margin-bottom: 3vh;
	color: #555;
}

.about__section__right__box > img{
	height: 47vh;
	width: 35vw;
	text-align: right;
	margin-right: -6vw;
}

/* ***********WORK SECTION************ */

.work__section {
	text-align: center;
	background-color: #F5F5F5;
	overflow: hidden;
}

.work__portfolio {
	margin-top: 2vh;
	list-style: none;
	width: 100%;
}

.row > h1 {
	font-size: 8vh;
	text-align: center;
	font-weight: 500;
	margin-bottom: 2vh;
}

.row > h2 {
	font-size: 3vh;
	text-align: center;
	font-weight: 350;
	margin-bottom: 2vh;
}

.row > h2:after {
	margin: 3vh auto;
	display: block;
	height: 0.4vh;
	width: 7vw;
	background-color: #ed07b7;
	content: " ";
}

.work__portfolio > li {
	width: 25%;
	display: block;
	float: left;
}



.portfolio__image {
	background-color: black;
	overflow: hidden;
}

.portfolio__image > img {
	width: 100%;
	height: auto;
	opacity: 0.7;
	transform: scale(1.15);
	transition: transform 0.5s, opacity 0.5s;
}

.portfolio__image > p {
	color: white;
}

.portfolio__image > img:hover {
	transform: scale(1);
	opacity: 1;
}

/* *************OUR SERVICES SECTION************** */

.our__services__section {
	background-color: #F5F5F5;
}

.span_1_of_4 {
	margin-top: 15vh;
	text-align: center;
}

.span_1_of_4 > i {
	font-size: 250%;
	color: #6920b0;
	display: block;
	margin-bottom: 7vh;
}

.span_1_of_4 > h4 {
	font-size: 3vh;
	margin-bottom: 10vh;
}

.span_1_of_4 > p {
	margin-bottom: 6vh;
}

.span_1_of_4 > a {
	text-decoration: none;
	color: #ed07b7;
	text-transform: uppercase;
	font-weight: 500;
}

.client__first__half , .client__second__half{
	margin: 0 7vw;
}

.client__first__half > .span_1_of_4 > img {
	margin-top: -15vh;
}

.client__second__half > .span_1_of_4 > img {
	margin-top: -20vh;
}


.span_1_of_4 > img {
	text-align: center;
	width: 100%
}

/* ******TESTIMONIAL SECTION********** */

.testimonial__section {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),  url(img/testimonial-background.jpg);
	background-size: cover;
	overflow: hidden;
	background-position: center;
	background-attachment: fixed;
}

.testimonial__section > .row > h1 {
	font-weight: 300;
	color: white;
	margin-bottom: 10vh;
}

.span_1_of_3 {
	color: white;
}

.span_1_of_3 > strong > p {
	font-size: 7vh;
	font-style: italic;
	font-weight: 400;
	margin-bottom: -2vh;
	margin-left: 1vw;
}

.span_1_of_3 > p {
	font-style: italic;
	font-size: 3vh;
	margin: 0 1vh 3vh 3vh;
	float: left;
}

.span_1_of_3 > cite > img {
	border-radius: 50%;
	margin-left: 1vw;
}

.span_1_of_3 > .package__content {
	display: block;
	width: 90%;
	height: 100%;

}

.popular__packages__section {
	text-align: center;
	background-color: #F5F5F5;
}

.popular__packages__section > .row > h1 {
	margin-top: 20vh;
}

.package__box {
	color: black;
	background-color: white;
	overflow: hidden;
	margin-top: -5vh;
}

.package__box__price, .package__contents, .signup {
	margin-bottom: 3vh;
	padding: 4vh 8vh 5% 5%;
	/* padding-bottom: 8vh;
	padding-left: 5%;
	padding-right: 5%; */
	border-bottom: 2px solid #F5F5F5;
	text-align: justify;
}

.package__box__price > h4 {
	font-size: 5vh;
	font-weight: 400;
	margin-bottom: 8vh;
}

.price {
	color: #ed07b7;
	font-size: 7vh;
	font-weight: 500;
}

.package__box__price > p {
	margin-bottom: 3vh;
}

.package__box__price > p > span {
	color: #ed07b7;
	font-size: 16px;
	font-weight: 600;
}

.package__contents > ul > li{
	margin-bottom: 1.5vh;
	font-size: 3vh;
	color: #ed07b7;
	list-style: none;
}

.package__contents > ul > li > i > span {
	font-weight: 400;
	padding-left: 1vw;
	color: #36454F;
}

.signup {
	margin-top: 1.5vh;
	background-color: #ed07b7;
	margin: 3vh 6.8vw;
	padding: 2vh 2vw;
	border-radius: 5rem;
}


.signup > a {
	text-decoration: none;
	color: white;
}

.signup > a > h3 {
	font-weight: 450;
}

/********CONTACT SECTION*********/

.contact__section {
	text-align: center;
}

.contact__form {
	margin-top: 4vh;
	margin-left: 17vw;
	color: #555;
}

input[type =  "checkbox"] {
	margin-left: -98%;
}

input[type = "text"], 
input[type = "email"],
input[type = "button"],
textarea {
	margin-bottom: -4vh;
	width: 60%;
	margin-left: -60%;
	padding: 1.5vh;
}

label{
	font-size: 100%;
	font-weight: 550;
	text-align: left;
	color: #555;
}

.span_2_of_3 > a {
	background-color: white;
	border: 2px solid #ed07b7;
	color: black;
	text-decoration: none;
	margin-left: -90%;
}

.span_2_of_3 > a:hover {
	color: white;
	background-color: #ed07b7;
}

/* ********FOOTER SECTION********** */

footer {
	background-color: #555;
	font-size: 16px;
	padding-top: 5%;
	padding-bottom: 2%;
}

.footer__nav > ul > li > a:hover {
	color: white;
	transition:color 0.2s;
}

.social__links {
	float: right;
	margin-right: 5%;
}

.social__links > ul > li {
	font-size: 4vh;
}

.fa-facebook:hover {
	color: blue;
}

.fa-twitter:hover {
	color: #00acee;
}

.fa-google-plus-g:hover {
	color: #db4a39;
}

.fa-instagram:hover {
		background: #f09433; 
	  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
	  border-radius: 1rem;
}

.fa-linkedin:hover {
	color: #0e76a8;
}

.fa-facebook:hover, .fa-google-plus-g:hover,
.fa-linkedin:hover, .fa-twitter:hover, 
.fa-instagram:hover {
	transition: 0.1s;
}

.footer__nav > ul > li, .social__links > ul > li  {
	list-style: none;
	display: inline-block;
	margin-right: 1vw;
}

footer p {
	margin-top: 30vh;
	text-align: center;
	padding-bottom: -5vh;
	color: #C0C0C0;
	line-height: 1.5;
}

li > a {
	text-decoration: none;
	color: #C0C0C0;
}

/* **********JQUERY ANIMATE ON SCROLL********** */

.js--about__box {
	opacity: 0;
	animation-duration: 1s;
}

.js--about__box > .animate__animated {
	opacity: 1;
}

.js--service__ox {
	animation-duration: 2s;
}

